@model _GuzellikSirlari.Models.CiltSagligi
@{
    ViewBag.Title = "CiltSagligiSil";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

@using Microsoft.AspNet.Identity
@if (Session["KullaniciId"] != null)
{
    <div id="about1" class="tm-content-box">
        <div class="tm-box-pad tm-bordered-box">

            <h4>Cilt Sağlığı</h4>
            <h3>Silmek istediğine emin misin?</h3>
            <div>

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Cilt Sağlığı Adı
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CiltSagligiAdi)
                    </dd>

                    <dt>
                        Cilt Sağlığı Açıklama
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CiltSagligiAciklama)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Sil" class="btn btn-default" /> |
                    </div>
                }
            </div>
        </div>
    </div>
}
