@model IEnumerable<_GuzellikSirlari.Models.DogalMaskeler>
@{
    ViewBag.Title = "DogalMaskeler";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@using Microsoft.AspNet.Identity
@if (Session["KullaniciId"] != null)
{
    <div id="about1" class="tm-content-box">
        <div class="tm-box-pad tm-bordered-box">
            <h2>Doğal Maskeler</h2>

            <p>
                @Html.ActionLink("Yeni Ekle", "DogalMaskelerEkle")
            </p>
            <table class="table">
                <tr>
                    <th>
                        Doğal Maskeler Adı
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DogalMaskelerAdi)
                        </td>

                        <td>
                            @Html.ActionLink("Detaylar", "DogalMaskelerDetaylar", new { DogalMaskelerId = item.DogalMaskelerId }) |
                            @Html.ActionLink("Sil", "DogalMaskelerSil", new { DogalMaskelerId = item.DogalMaskelerId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
