
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@using Microsoft.AspNet.Identity
@if (Session["KullaniciId"] != null)
{
<div id="about1" class="tm-content-box">
    <div class="tm-box-pad tm-bordered-box">
        <h2 class="tm-section-title"> Giriş Yapıldı</h2>
  
    </div>
</div>

}