@model _GuzellikSirlari.Models.CiltBakimi
@{
    ViewBag.Title = "DetaySayfasi";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="about1" class="tm-content-box">
        <div class="tm-box-pad tm-bordered-box">
            <h2 class="tm-section-title">@Html.DisplayFor(model => model.CiltBakimiAdi, new { htmlAttributes = new { @class = "form-control" } })</h2>
            <p>@Html.DisplayFor(model => model.CiltBakimiAciklama, new { htmlAttributes = new { @class = "form-control" } })</p>

        </div>
    </div>
}


