@model List<_GuzellikSirlari.Models.CiltSorunlari> 
@{
    Layout = null;
}

 <!-----3.menü-->
<section id="services" class="tm-content-box">
    <div class="tm-content-box tm-content-box-home">
        <img src="~/Content/img/shutterstock_443894779.jpg" alt="Image 1" class="img-fluid tm-welcome-img">
        <div class="tm-welcome-boxes-container">
            <div class="tm-welcome-box">
                <div class="tm-welcome-text">
                    <h2 class="tm-section-title">Cilt Sorunları Nedir?</h2>
                    <p>Cildinizde birden bire meydana gelen problemler sağlık sorunlarına işaret edebilir. </p>
                </div>
                <a class="tm-welcome-link tm-button">Cilt Sorunları </a>
            </div>
            <div class="tm-welcome-box">
                <div class="tm-welcome-text">
                    <h2 class="tm-section-title">Cilt Sorunları Nelerdir?</h2>
                    <p> Uzun zamandır olan ya da yeni meydana gelen ufak tefek gibi görünen cilt problemleri. </p>
                </div>
                <a class="tm-welcome-link tm-button">Cilt Sorunları</a>
            </div>

        </div>
    </div>
</section>
<div id="gallery1" class="tm-content-box">
    <div class="grid tm-gallery">
        <figure class="effect-bubba">
            <img src="~/Content/img/cilt_sorunlari1.jpg" alt="Image 8" class="img-fluid">
            <figcaption>
                <h2>Cİlt<br /> <span>Sorunları</span></h2>
          
                <a href="~/Content/img/cilt_sorunlari1.jpg">View more</a>
            </figcaption>
        </figure>

        <figure class="effect-bubba">
            <img src="~/Content/img/cilt_sorunlari2.jpg" alt="Image 7" class="img-fluid">
            <figcaption>
                <h2>Cİlt<br /> <span>Sorunları</span></h2>
        
                <a href="~/Content/img/cilt_sorunlari2.jpg">View more</a>
            </figcaption>
        </figure>

        <figure class="effect-bubba">
            <img src="~/Content/img/cilt_sorunlari3.jpg" alt="Image 5" class="img-fluid">
            <figcaption>
                <h2>Cİlt<br /> <span>Sorunları</span></h2>
         
                <a href="~/Content/img/cilt_sorunlari3.jpg">View more</a>
            </figcaption>
        </figure>

    
    </div>
</div>

<div id="services2" class="tm-content-box tm-gray-bg tm-services">

    <div class="tm-services-img-container">
        <img src="~/Content/img/cilt_sorunlaridik.jpg" alt="Green Field" class="img-fluid tm-services-img">
    </div>

    <div class="tm-box-pad tm-services-description-container">
        <h2 class="tm-section-title"><span class="tm-blue-text">Cilt Sorunları</span> </h2>
 @foreach (var item in Model)
 {
    <p class="tm-section-description">@Html.ActionLink(@item.CiltSorunlariAdi, "DetaySayfasiMenu3", new { CiltSorunlariId = item.CiltSorunlariId })</p>
 }
    </div> 

</div>

